body {
  padding-top: 20px;
  padding-bottom: 20px;
}

h2{padding-bottom: 15px;}
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}
.header h3 a{text-decoration: none;color: #555;}

@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

@media screen and (min-width: 768px) {
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  .header {
    margin-bottom: 30px;
  }
  .jumbotron {
    border-bottom: 0;
  }
}

label.error{color: red;font-size: 10px;}

.spinner-wrap{
  display: inline-block;padding-left: 15px;
}

.progress{height: 10px;}

.spinner {
    display: inline-block;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    border: .25rem solid  rgba(255,255,255, 0.2);
    border-top-color: rgb(255,255,255);
    animation: spin 1s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}